<div class="w3-display-container bgimg1 w3-animate-opacity">
    <div class="w3-display-middle">
      <span class="w3-center w3-padding-large w3-black w3-animate-right" style="white-space: nowrap;">WELCOME TO MY WEBSITE</span>
    </div>
  </div>
  <div class="w3-container w3-padding w3-animate-left">
    <h3 class="w3-center">CONTACT US</h3>
    <p class="text-center">If you want more information about this beatiful contry!</p>
    <h4 class="text-center">Fill the the form or look at my projet on GitHub</h4>
    <br>
    <div class="text-center">
    <a href="https://github.com/iman6996/AngularAPP"><button type="button" class="btn btn-outline-danger ">Project on GitHub</button></a>
    </div>
    <br>
  </div>
  <div class="w3-container w3-padding w3-animate-right">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
      <p>
        <label>First Name:</label><br>
        <input type="text" name="firstname"
        [(ngModel)]="firstname" required>
      </p>
      <p>
        <label>Last Name:</label><br>
        <input type="text" name="lastname"
        [(ngModel)]="lastname" required>
      </p>
      <p>
        <label>Email:</label><br>
        <input type="text" name="email"
        [(ngModel)]="email" required>
      </p>
      <p>
        <label>Message:</label><br>
        <textarea name="message"
        [(ngModel)]="message">
        </textarea>
      </p>
      <p>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
      </p>
    </form>
  </div>
  